<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>My-Website</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #333;
        }

        .container {
            background: #666;
            padding: 10px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #777;
            padding: 10px;
            border-radius: 8px;
        }

        article {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container">

        <nav>
            <h1>New_Me</h1>
            <ul>
                <li>home</li>
                <a href="" style="color:black">
                    <li>about</li>
                </a>
                <a href="" style="color:black">
                    <li>posts</li>
                </a>
                <li>contact</li>
            </ul>
        </nav>
        <article>
            <p>Content delivery networks (CDNs) distribute content (such as images, videos, and web pages) across
                multiple servers located strategically
                around the globe. This reduces latency and improves the speed at which users can access content.</p>
            <p>around the globe. This reduces latency and improves the speed at which users can access content.</p>
            <p>around the globe. This reduces latency and improves the speed at which users can access content.</p>
        </article>
        <article>
            <p> Distributed File Systems distribute content (such as images, videos, and web pages) across multiple
                servers located strategically
                around the globe. This reduces latency and improves the speed at which users can access content.</p>
            <p> around the globe. This reduces latency and improves the speed at which users can access content.</p>
            <p> around the globe. This reduces latency and improves the speed at which users can access content.</p>
        </article>

    </div>
</body>

</html>